.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  width: 610px;
  height: 610px;
  background-color: black;

    div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
}

}

.playerOne {
 background-image: url(./images/eng-flag.png);
}

.playerTwo {
  background-image: url(./images/arg-flag.png);
 }